main.Main#Main
  .Main-container
    .Banner
      .Container-banner
        h1 Espacio Maturana
        h2 Maturana #818
        p Un espacio abierto a la comunidad
        a(href=link.contactanos).Menu-link Contáctanos
    section#hacemos.Hacemos
      .Box-titulo
        h2 Qué hacemos?
      .Container-cards
        .Card-text
          h3 Lorem ipsum
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus porttitor ex, non vulputate justo consequat nec. Nulla tempus egestas nunc eget gravida. Donec laoreet ut urna id molestie. Donec eget condimentum lacus, sed ultricies ipsum. In hac habitasse platea dictumst. Morbi efficitur sagittis ex, vel malesuada ligula fringilla vitae. Ut ac faucibus lacus. Maecenas gravida libero sit amet nulla auctor, quis vestibulum ante finibus.
        .Card-text
          h3 Lorem ipsum
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus porttitor ex, non vulputate justo consequat nec. Nulla tempus egestas nunc eget gravida. Donec laoreet ut urna id molestie. Donec eget condimentum lacus, sed ultricies ipsum. In hac habitasse platea dictumst. Morbi efficitur sagittis ex, vel malesuada ligula fringilla vitae. Ut ac faucibus lacus. Maecenas gravida libero sit amet nulla auctor, quis vestibulum ante finibus.
        .Card-text
          h3 Lorem ipsum
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus porttitor ex, non vulputate justo consequat nec. Nulla tempus egestas nunc eget gravida. Donec laoreet ut urna id molestie. Donec eget condimentum lacus, sed ultricies ipsum. In hac habitasse platea dictumst. Morbi efficitur sagittis ex, vel malesuada ligula fringilla vitae. Ut ac faucibus lacus. Maecenas gravida libero sit amet nulla auctor, quis vestibulum ante finibus.
    section#somos.Somos
      .Box-titulo
        h2 Quiénes Somos?
      .Container-figure
        .Figure
          .Figure-img
            img(src="img/perfil-1.jpg", alt="Juanito Perez")
          .Figure-name
            h3 Esteban Dido
          .Figure-description
            p Duis cursus tellus non euismod porttitor. Sed eu posuere est. Pellentesque quis erat sapien. Integer cursus gravida risus rhoncus malesuada. Duis posuere auctor finibus. Nam enim felis, convallis in vehicula a, consectetur vel mauris. Donec nulla leo, malesuada ac laoreet id, congue non augue.
        .Figure
          .Figure-img
            img(src="img/perfil-3.jpg", alt="Juanito Perez")
          .Figure-name
            h3 María Juana
          .Figure-description
            p Duis cursus tellus non euismod porttitor. Sed eu posuere est. Pellentesque quis erat sapien. Integer cursus gravida risus rhoncus malesuada. Duis posuere auctor finibus. Nam enim felis, convallis in vehicula a, consectetur vel mauris. Donec nulla leo, malesuada ac laoreet id, congue non augue.
        .Figure
          .Figure-img
            img(src="img/perfil-4.jpg", alt="Juanito Perez")
          .Figure-name
            h3 Alan Brito
          .Figure-description
            p Duis cursus tellus non euismod porttitor. Sed eu posuere est. Pellentesque quis erat sapien. Integer cursus gravida risus rhoncus malesuada. Duis posuere auctor finibus. Nam enim felis, convallis in vehicula a, consectetur vel mauris. Donec nulla leo, malesuada ac laoreet id, congue non augue.
        .Figure
          .Figure-img
            img(src="img/perfil-2.jpg", alt="Juanito Perez")
          .Figure-name
            h3 Ada lovelace
          .Figure-description
            p Duis cursus tellus non euismod porttitor. Sed eu posuere est. Pellentesque quis erat sapien. Integer cursus gravida risus rhoncus malesuada. Duis posuere auctor finibus. Nam enim felis, convallis in vehicula a, consectetur vel mauris. Donec nulla leo, malesuada ac laoreet id, congue non augue.
    section#contactanos
      .Box-titulo
        h2 Síguenos
      .Container-content
        .Box-map
          .Mapa#Mapa
        .Container-sociales
          .Card-social
            a(href="https://www.facebook.com/", target="_blank")
              i.icon-facebook
          .Card-social
            a(href="https://twitter.com/?lang=es", target="_blank")
              i.icon-twitter
          .Card-social
            a(href="https://www.instagram.com/?hl=es-la", target="_blank")
              i.icon-instagram
